extends layout

block styles
  link(rel='stylesheet' href='/assets/vendor/bootstrap/dist/css/bootstrap.min.css')

block container
  .container
    .row
      .col-md-6.col-md-offset-3
        .page-header
          h1= pageTitle
        ul.list-group
          each taskName in taskNames
            li.list-group-item
              h4.list-group-item-heading= taskName
              p.list-group-item-text
                a.btn.btn-sm.btn-primary(href='/test/' + taskName) Run test page
                = ' '
                a.btn.btn-sm.btn-warning(href='/pure/' + taskName) Open working page
